/***** General *****/

body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

body,
.full-width {
  width: 100%;
}

.site-width {
  width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}
/***** header *****/
header {
  background-color: black;
}

/* banner */
.banner img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.banner h2 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

/* moto */
.moto {
  background-image: url("../img/moto.jpeg");
  height: 24rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-box {
  width: 960px;
  margin: 0;
  background-color: black;
  font-weight: bold;
  flex-flow: column;
  padding: 2rem 3rem;
  margin-top: 9rem;
  width: 20rem;
}

.text-box h2 {
  paddig-bottom: 0.25rem;
}

/* Menu, Nav-bar */
nav.full-width {
  background-color: firebrick;
  margin-bottom: 3rem;
}

ul {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
}

li {
  display: inline;
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
}

.small-screen {
  display: none;
}
/***** main section *****/
.store {
  justify-content: space-between;
}

.store-item {
  display: flex;
  flex-flow: column;
  width: 30%;
  flex-flow: column;
  border: 4px solid black;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.store-item img {
  height: 9rem;
  padding: 2rem;
}

.store-item h2 {
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}

.info  {
  margin-bottom: 4rem;
  justify-content: space-between;
}

.info-item {
  width: 30%;
}

.info-item  h2 {
  background-color: black;
  padding:1rem 2rem;
}

.info-item p {
  color: black;
  background-color: white;
  padding-top: .25rem;
}


.hours {
  justify-content: flex-end;
}
/***** footer *****/
footer {
  background-color: black;
  height: 5rem;
}
/* media query */
@media only screen and (max-width:1024px) {
  .site-width {
    width: 100%;
  }
  .site-width li,
  .store .store-item:nth-child(3) {
    display:none;
  }
  .text-box {
    width: 20rem;
  }
  ul {
    justify-content: center;
  }
  li.small-screen {
    display:inline;
  }
  .store {
    flex-wrap: wrap;
  }
  .store-item {
    width: 47%;
    height: 47%;
  }
  .info-item {
    width: 35%;
  }

}
@media only screen and (max-width:480px) {
  .store-item,
  .info-item {
    width: 90%;
  }
  .site-width li {
    display:none;
  }
  ul {
    justify-content: center;
  }
  li.small-screen {
    display:inline;
  }
  .store,
  .info
   {
    display: block;
  }
  .moto {
    height: 15rem;
  }

  .moto h1 {
    font-size: 1rem;
  }

  .moto h2 {
    font-size: 0.77rem;
  }

  .store .store-item:nth-child(2) {
    display:none;
  }

  .text-box {
    margin-top: 10rem;
    padding-top: 1rem;
    padding-left: 2rem;
  }
  .location {
    margin-bottom: 0.5rem;
  }
  .site-width h2 {
    text-align: center;
  }
}
