body {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.banner {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: black;
  align-items: center;
  padding-left: 5rem;
}

.banner img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.banner h3 {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-buttom: 0.66rem;
}

.moto {
  background-image: url("../img/moto.jpeg");
  background-size: cover;
  height : 14rem;
  padding-top: 9rem;
  padding-left: 5rem;
}

.moto-container {
  display: block;
  /*text-wrap: wrap;*/
  background-color: black;
  width: 20rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  align-items: left;
  justify-content: center;
}

.moto h1 {
  font-size: 2rem;
  padding-top: 0.5rem;
}

nav {
  display : block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: firebrick;
}

nav span {
  font-size: 1rem;
  padding-left: 5rem;
}

.image.container {
  margin: 3rem;
}

.section {
  width: 14rem;
  display: inline-flex;
  flex-flow: column;
  border: 4px solid black;
  margin: 2rem;
}

.section img {
  height: 9rem;
  width: 10rem;
  align-items: center;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section span {
  background-color: black;
  font: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info {
  padding-left: 5rem;
}

.item {
  width: 15rem;
  display: inline-flex;
  flex-flow: column;
}

.item h3 {
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 3rem;
}

.item span {
  color: black;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

footer {
  display: flex;
  background-color: black;
  height: 5rem;
  align-items: center;
}

footer p {
  text-align: left;
  padding-left : 5rem;
}

}
@media screen and (max-width: 1024px) {
   {


  }
}
